.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.avatar{
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-lewagon .container-fluid {
  padding-left: 1.5cm;
  padding-right: 1.5cm;
}

@media (max-width: 576px){
  .navbar-lewagon .container-fluid { padding-left: 1rem; padding-right: 1rem; }
}
